{% extends "::base.html.twig" %}

{% block title %}ReverseAuctionWebservicesBundle:ProductListing:ProductListing{% endblock %}

{% block body %}
<h1>Welcome to the ProductListing:ProductListing page</h1>
{% endblock %}
