{% extends "::base.html.twig" %}

{% block title %}ReverseAuctionWebservicesBundle:BidWinners:BidsWinners{% endblock %}

{% block body %}
<h1>Welcome to the BidWinners:BidsWinners page</h1>
{% endblock %}
