{% extends "::base.html.twig" %}

{% block title %}ReverseAuctionWebservicesBundle:ForgetPassword:ForgetPassword{% endblock %}

{% block body %}
<h1>Welcome to the ForgetPassword:ForgetPassword page</h1>
{% endblock %}
