{% extends "::base.html.twig" %}

{% block title %}ReverseAuctionWebservicesBundle:ProductInformation:ProductInformation{% endblock %}

{% block body %}
<h1>Welcome to the ProductInformation:ProductInformation page</h1>
{% endblock %}
