{% extends "::base.html.twig" %}

{% block title %}ReverseAuctionWebservicesBundle:Registration:Registration{% endblock %}

{% block body %}
<h1>Welcome to the Registration:Registration page</h1>
{% endblock %}
